body {
    background: lightgrey;
}
h1 {
    color: blue;
    padding: 10px 110px;
}

h1 span {
    background: blue;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
h2 {
    text-align: center;
    padding: 1px;
}
div {
    border: 3px solid white;  
    color: black;
    background-color: white;
    height: 450px;
    width: 400px;
    border-radius: 5px;
    margin: auto;
    border-top-width: 30px;
    /* box-shadow: 0px 0px 5px 5px black; */
}
div span {
    margin-left: 3px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
div input {
        margin-left: 20px;
        padding: 10px 20px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 5px;
        width: 300px;
        border: 0.5px solid black;
}
div p {
    width: 400px;
    margin-left: auto;
    text-align: center;
 }
 div button {
    margin-left: 45px;
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 25px;
    width: 300px;
    background-color: blue;
    color: white;
    border: none;
 }
 div .peter {
    margin-left: 45px;
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 25px;
    width: 300px;
    background-color: white;
    color: black;
    border: 0.5px solid black;
 }
 div .sign {
    margin-left: 90px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
 }
 h4 {
    text-align: center;
    padding: 1px;
}